<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentBuilderType>Sitecore.Support.ContentSearch.SolrProvider.SolrDocumentBuilder, Sitecore.Support.94953</documentBuilderType>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly id="Sitecore.Support.94953">/bin/Sitecore.Support.94953.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>